/* page compilation --*/
/* line 1, ../scss/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #2B00F7;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, ../scss/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #1e00ab;
  color: #fff;
}
/* line 27, ../scss/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../scss/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.8125em;
  padding: 1.625em;
}

/* line 8, ../scss/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
}

/* line 16, ../scss/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.40625em;
}
/* line 20, ../scss/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../scss/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../scss/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  margin-bottom: 0.8125em;
  padding: 0.54167em;
  transition: border-color;
  width: 100%;
}
/* line 44, ../scss/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}
/* line 48, ../scss/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #2B00F7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(39, 0, 222, 0.7);
  outline: none;
}

/* line 55, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../scss/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.40625em;
}

/* line 69, ../scss/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.8125em;
  width: 100%;
}

/* line 74, ../scss/base/_forms.scss */
select {
  margin-bottom: 1.625em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../scss/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../scss/base/_lists.scss */
dl {
  margin-bottom: 0.8125em;
}
/* line 23, ../scss/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.8125em;
}
/* line 28, ../scss/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../scss/base/_tables.scss */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.8125em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../scss/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.8125em 0;
  text-align: left;
}

/* line 16, ../scss/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.8125em 0;
}

/* line 21, ../scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../scss/base/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  line-height: 1.625;
}

/* line 11, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  line-height: 1.2;
  margin: 0 0 0.8125em;
  font-weight: normal;
}

/* line 24, ../scss/base/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 1.1em;
}

/* line 34, ../scss/base/_typography.scss */
p {
  margin: 0 0 1.625em;
}

/* line 38, ../scss/base/_typography.scss */
a {
  color: #2B00F7;
  text-decoration: underline;
  transition: color 0.1s linear;
}
/* line 44, ../scss/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #1e00ab;
}
/* line 50, ../scss/base/_typography.scss */
a:active, a:focus {
  outline: none;
}

/* line 56, ../scss/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.625em 0;
}

/* line 64, ../scss/base/_typography.scss */
img,
picture {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/* placeholders */
/* line 34, ../scss/partials/_mixins.scss */
#slide3 h2::after, #slide5 h2::after, #slide6 h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7.325rem;
  height: 7.325rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 7, ../scss/_main.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 13, ../scss/_main.scss */
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  /* line 21, ../scss/_main.scss */
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  /* line 34, ../scss/_main.scss */
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

/* line 41, ../scss/_main.scss */
.cd-section {
  height: 100vh;
  position: relative;
}
/* line 45, ../scss/_main.scss */
.cd-section:first-of-type > div {
  background-color: #fff;
}
/* line 50, ../scss/_main.scss */
.cd-section:nth-of-type(2) > div {
  background-color: #f2f2f2;
}
/* line 54, ../scss/_main.scss */
.cd-section:nth-of-type(2) .slide-content {
  background-color: rgba(242, 242, 242, 0.3);
}
/* line 60, ../scss/_main.scss */
.cd-section:nth-of-type(3) > div {
  background-color: #e5e5e5;
}
/* line 64, ../scss/_main.scss */
.cd-section:nth-of-type(3) .slide-content {
  background-color: rgba(229, 229, 229, 0.3);
}
/* line 70, ../scss/_main.scss */
.cd-section:nth-of-type(5) > div {
  background-color: #f2f2f2;
}
/* line 74, ../scss/_main.scss */
.cd-section:nth-of-type(5) .slide-content {
  background-color: rgba(242, 242, 242, 0.3);
}
/* line 80, ../scss/_main.scss */
.cd-section:nth-of-type(6) > div {
  background-color: #e5e5e5;
}
/* line 84, ../scss/_main.scss */
.cd-section:nth-of-type(6) .slide-content {
  background-color: rgba(229, 229, 229, 0.3);
}
/* line 91, ../scss/_main.scss */
.cd-section:nth-of-type(7) > div > div {
  background-color: #f2f2f2;
}
/* line 95, ../scss/_main.scss */
.cd-section:nth-of-type(7) > div .slide-content {
  background-color: rgba(242, 242, 242, 0.3);
}
/* line 101, ../scss/_main.scss */
.cd-section:nth-of-type(8) > div > div {
  background-color: #e5e5e5;
}
/* line 105, ../scss/_main.scss */
.cd-section:nth-of-type(8) > div .slide-content {
  background-color: rgba(229, 229, 229, 0.3);
}
/* line 111, ../scss/_main.scss */
.cd-section:nth-of-type(9) > div {
  background-color: #fff;
}
/* line 115, ../scss/_main.scss */
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 123, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/seattle2.jpg");
  background-size: cover;
  background-position: left center;
}
/* line 131, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/octopus.jpg");
  background-position: center left;
  background-size: contain;
}
/* line 139, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/clam.jpg");
}
/* line 145, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/pizza.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 153, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/canele.jpg");
}
/* line 159, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(6) > div, [data-animation="fixed"] .cd-section:nth-of-type(6) > div, [data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-image: url("../img/cocktail.jpg");
}
/* line 165, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(7) > div, [data-animation="fixed"] .cd-section:nth-of-type(7) > div, [data-animation="opacity"] .cd-section:nth-of-type(7) > div {
  background-image: url("../img/tuna_chips.jpg");
}
/* line 171, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(8) > div, [data-animation="fixed"] .cd-section:nth-of-type(8) > div, [data-animation="opacity"] .cd-section:nth-of-type(8) > div {
  background-image: url("../img/kuku.jpg");
}
/* line 177, ../scss/_main.scss */
[data-animation="parallax"] .cd-section:nth-of-type(9) > div, [data-animation="fixed"] .cd-section:nth-of-type(9) > div, [data-animation="opacity"] .cd-section:nth-of-type(9) > div {
  background: url("../img/footer.jpg") no-repeat center bottom #fff;
  background-size: contain;
}
@media only screen and (min-width: 1050px) {
  /* line 185, ../scss/_main.scss */
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  /* line 193, ../scss/_main.scss */
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  /* line 198, ../scss/_main.scss */
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  /* line 202, ../scss/_main.scss */
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  /* line 207, ../scss/_main.scss */
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  /* line 211, ../scss/_main.scss */
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(230, 230, 230, 0.4);
  }
  /* line 217, ../scss/_main.scss */
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  /* line 224, ../scss/_main.scss */
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  /* line 229, ../scss/_main.scss */
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* line 241, ../scss/_main.scss */
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
    height: 100vh;
    display: block;
    padding: 20% 5% 0 56%;
  }
  /* line 248, ../scss/_main.scss */
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

/* line 254, ../scss/_main.scss */
.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
/* line 262, ../scss/_main.scss */
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
/* line 274, ../scss/_main.scss */
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
/* line 279, ../scss/_main.scss */
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  /* line 254, ../scss/_main.scss */
  .cd-vertical-nav {
    display: block;
  }
}

/* line 294, ../scss/_main.scss */
.lede-wrap {
  height: 78vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5%;
  color: #fff;
}

/* line 302, ../scss/_main.scss */
.lede-content {
  margin: auto;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 311, ../scss/_main.scss */
#main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}

/* line 321, ../scss/_main.scss */
.cd-section h2 {
  position: relative;
}
/* line 325, ../scss/_main.scss */
.cd-section p {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
/* line 330, ../scss/_main.scss */
.cd-section .location-details {
  font-size: 1em;
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
}
/* line 20, ../scss/bourbon/addons/_clearfix.scss */
.cd-section ul::after {
  clear: both;
  content: "";
  display: table;
}
/* line 339, ../scss/_main.scss */
.cd-section .outline-text {
  color: transparent;
  background-color: #3c3c3c;
  -webkit-text-fill-color: #fff;
  -moz-text-fill-color: #fff;
  -ms-text-fill-color: #fff;
  -o-text-fill-color: #fff;
  -webkit-text-stroke: 0.125em transparent;
  -moz-text-stroke: 0.125em transparent;
  -ms-text-stroke: 0.125em transparent;
  -o-text-stroke: 0.125em transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  padding-left: 0.09em;
  letter-spacing: 0.12em;
}

/* line 354, ../scss/_main.scss */
#slide1 > div {
  padding: 12% 5% 0;
}
/* line 358, ../scss/_main.scss */
#slide1 header {
  text-align: center;
}

/* line 365, ../scss/_main.scss */
#slide3 h2::after {
  background-image: url("../img/seal.png");
  width: 8rem;
  bottom: -0.3em;
}

/* line 374, ../scss/_main.scss */
#slide4 > div {
  padding: 12% 5% 5%;
}
/* line 379, ../scss/_main.scss */
#slide4 h3 {
  font-family: "NHaasGroteskDSPro-65Md", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding: 5% 0% 5% 7%;
  border: 4px solid #fff;
}
/* line 386, ../scss/_main.scss */
#slide4 a {
  color: #cec4ff;
}
/* line 390, ../scss/_main.scss */
#slide4 .outline-text {
  color: #fff;
  background-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -webkit-text-stroke: 0.09em #fff;
  -moz-text-stroke: 0.09em #fff;
  -ms-text-stroke: 0.09em #fff;
  -o-text-stroke: 0.09em #fff;
}
/* line 397, ../scss/_main.scss */
#slide4 .slide-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  color: #fff;
  box-sizing: border-box;
  height: 78vh;
  display: table;
}

/* line 410, ../scss/_main.scss */
#slide5 h2::after {
  background-image: url("../img/octopus.png");
  bottom: -0.3em;
}

/* line 420, ../scss/_main.scss */
#slide6 h2::after {
  background-image: url("../img/crab.png");
  bottom: -1.3em;
}

/* line 428, ../scss/_main.scss */
#slide9 > div {
  padding: 11% 5% 10%;
}
/* line 432, ../scss/_main.scss */
#slide9 h2 {
  font-family: "NHaasGroteskDSPro-65Md", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding: 2% 3%;
  border: 2px solid #3c3c3c;
  margin-bottom: 2em;
  width: 75%;
}
/* line 440, ../scss/_main.scss */
#slide9 p {
  font-size: 0.9em;
}
/* line 444, ../scss/_main.scss */
#slide9 ul {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 448, ../scss/_main.scss */
#slide9 li {
  float: left;
  width: calc(97% / 5);
  padding-left: 3%;
}
/* line 453, ../scss/_main.scss */
#slide9 li:first-child {
  padding-left: 0;
}

/* line 459, ../scss/_main.scss */
.slide-content {
  padding: 5%;
}

/* line 463, ../scss/_main.scss */
.pullout-box {
  font-size: 1.25em;
  width: 40%;
  padding-right: 2em;
}

/* line 471, ../scss/_main.scss */
.wrap-subcontent, .pullout-box {
  display: table-cell;
  vertical-align: bottom;
}

/* line 476, ../scss/_main.scss */
.scroller {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* line 484, ../scss/_main.scss */
.lede-content {
  position: relative;
}

/* line 488, ../scss/_main.scss */
.lede-image {
  overflow: hidden;
  height: 400px;
}

/* line 493, ../scss/_main.scss */
.hed {
  color: #fff;
  width: 90%;
  display: inline-block;
}

/* line 499, ../scss/_main.scss */
.dek {
  color: #fff;
  font-size: 2em;
}

/* line 504, ../scss/_main.scss */
.subhed {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

/* line 509, ../scss/_main.scss */
.byline {
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  margin-bottom: 0em;
  padding-right: 0.5em;
}

/* line 515, ../scss/_main.scss */
.dateline {
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding-left: 0.5em;
  border-left: 1px solid #3c3c3c;
}

/* line 521, ../scss/_main.scss */
.short-line {
  width: 70px;
  border-bottom: 2px solid #fff;
  margin: 0 auto 2em;
  font-size: 1.5em;
}

/*-- MEDIA QUERIES -- */
/* MOBILE */
@media screen and (max-width: 560px) {
  /* line 7, ../scss/mediaqueries/_mobile.scss */
  #container #main .cd-section:not(#slide9) > div {
    min-height: 480px;
    padding: 0;
    height: auto;
  }

  /* line 20, ../scss/mediaqueries/_mobile.scss */
  #main #slide4 .slide-content {
    display: block;
    height: 100vh;
  }
  /* line 27, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 > div {
    padding: 5%;
  }
  /* line 31, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 .slide-content {
    height: auto;
  }
  /* line 35, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1em;
  }
  /* line 41, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 p {
    font-size: 0.889em;
  }
  /* line 45, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 .location-details {
    font-size: 0.8em;
  }
  /* line 50, ../scss/mediaqueries/_mobile.scss */
  #main .wrap-subcontent, #main .pullout-box, #main .pullout-box {
    display: block;
    width: 100%;
  }
  /* line 55, ../scss/mediaqueries/_mobile.scss */
  #main .hed {
    font-size: 2em;
  }
  /* line 59, ../scss/mediaqueries/_mobile.scss */
  #main .dek {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  /* line 65, ../scss/mediaqueries/_mobile.scss */
  #main h2 {
    font-size: 1.333em;
  }
  /* line 69, ../scss/mediaqueries/_mobile.scss */
  #main p {
    font-size: 1em;
  }

  /* line 75, ../scss/mediaqueries/_mobile.scss */
  .cd-section .slide-content {
    height: 100vh;
  }

  /* line 82, ../scss/mediaqueries/_mobile.scss */
  #slide9 .slide-content {
    background-color: transparent;
    color: #3c3c3c;
  }

  /* line 88, ../scss/mediaqueries/_mobile.scss */
  .byline, .dateline, .pullout-box, #slide8 h2 {
    font-size: 0.889em;
    line-height: 1.4;
  }

  /* line 93, ../scss/mediaqueries/_mobile.scss */
  .byline, .dateline {
    display: block;
  }

  /* line 97, ../scss/mediaqueries/_mobile.scss */
  .byline {
    padding-right: 0;
  }

  /* line 100, ../scss/mediaqueries/_mobile.scss */
  .dateline {
    border-left: none;
    padding-left: 0;
  }

  /* line 105, ../scss/mediaqueries/_mobile.scss */
  .slide-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: auto;
    padding: 5%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  /* line 119, ../scss/mediaqueries/_mobile.scss */
  #container #main .cd-section:not(#slide9) > div {
    min-height: 480px;
    padding: 0;
    height: 100%;
  }

  /* line 128, ../scss/mediaqueries/_mobile.scss */
  #main .cd-section {
    height: auto;
  }
  /* line 133, ../scss/mediaqueries/_mobile.scss */
  #main #slide4 .slide-content {
    display: block;
    height: auto;
  }
  /* line 142, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 .slide-content {
    height: auto;
  }
  /* line 146, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1em;
  }
  /* line 152, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 p {
    font-size: 0.889em;
  }
  /* line 156, ../scss/mediaqueries/_mobile.scss */
  #main #slide9 .location-details {
    font-size: 0.8em;
  }
  /* line 161, ../scss/mediaqueries/_mobile.scss */
  #main .wrap-subcontent, #main .pullout-box, #main .pullout-box {
    display: block;
    width: 100%;
  }
  /* line 166, ../scss/mediaqueries/_mobile.scss */
  #main .hed {
    font-size: 2em;
  }
  /* line 170, ../scss/mediaqueries/_mobile.scss */
  #main .dek {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  /* line 176, ../scss/mediaqueries/_mobile.scss */
  #main h2 {
    font-size: 1.333em;
  }
  /* line 180, ../scss/mediaqueries/_mobile.scss */
  #main p {
    font-size: 1em;
  }

  /* line 186, ../scss/mediaqueries/_mobile.scss */
  .cd-section .slide-content {
    height: 100vh;
  }
}
/* TABLET */
@media screen and (max-width: 1049px) {
  /* line 4, ../scss/mediaqueries/_tablet.scss */
  #main {
    position: relative;
  }
  /* line 10, ../scss/mediaqueries/_tablet.scss */
  #main .cd-section h2 {
    position: static;
  }
  /* line 13, ../scss/mediaqueries/_tablet.scss */
  #main .cd-section h2::after {
    bottom: 1em;
    right: 1em;
  }
  /* line 19, ../scss/mediaqueries/_tablet.scss */
  #main .cd-section:not(#slide9) a {
    color: #cec4ff;
  }
  /* line 23, ../scss/mediaqueries/_tablet.scss */
  #main .cd-section > div {
    min-height: 768px;
    height: 100vh;
    background-size: cover;
    padding: 5% 5% 0;
    height: 100%;
  }
  /* line 32, ../scss/mediaqueries/_tablet.scss */
  #main .cd-section:nth-of-type(9) > div {
    background-size: contain;
  }

  /* line 39, ../scss/mediaqueries/_tablet.scss */
  .lede-wrap {
    height: 80vh;
  }

  /* line 43, ../scss/mediaqueries/_tablet.scss */
  .hed {
    font-size: 3.25em;
    margin-bottom: 0.5em;
  }

  /* line 48, ../scss/mediaqueries/_tablet.scss */
  .dek {
    font-size: 1.25em;
  }

  /* line 52, ../scss/mediaqueries/_tablet.scss */
  .short-line {
    margin-bottom: 0.75em;
  }

  /* line 56, ../scss/mediaqueries/_tablet.scss */
  .slide-content {
    padding: 5% 5% 0;
    height: 80vh;
    position: relative;
  }
  /* line 61, ../scss/mediaqueries/_tablet.scss */
  .cd-section:not(#slide9) .slide-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  /* line 70, ../scss/mediaqueries/_tablet.scss */
  #slide9 > div {
    padding: 5% 5% 10%;
  }
  /* line 74, ../scss/mediaqueries/_tablet.scss */
  #slide9 h2 {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 79, ../scss/mediaqueries/_tablet.scss */
  #slide9 li {
    width: 30%;
    padding-left: 5%;
  }
  /* line 83, ../scss/mediaqueries/_tablet.scss */
  #slide9 li:nth-of-type(3n) {
    clear: right;
    margin-bottom: 2em;
  }
  /* line 88, ../scss/mediaqueries/_tablet.scss */
  #slide9 li:nth-of-type(3n + 1) {
    padding-left: 0;
  }

  /* line 94, ../scss/mediaqueries/_tablet.scss */
  .pullout-box {
    margin-bottom: 1.75em;
    font-size: 1.1em;
  }
}
/* DESKTOP */
/* RETINA */
/* Print Styles
 ========================================================================== */
@media print {
  /* line 5, ../scss/mediaqueries/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../scss/mediaqueries/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../scss/mediaqueries/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../scss/mediaqueries/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*Don't show links for img, or javascript/internal links*/
  /* line 26, ../scss/mediaqueries/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../scss/mediaqueries/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 33, ../scss/mediaqueries/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 35, ../scss/mediaqueries/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 38, ../scss/mediaqueries/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 42, ../scss/mediaqueries/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 46, ../scss/mediaqueries/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
