/* page compilation --*/
/* line 1, ../scss/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #2B00F7;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, ../scss/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #1e00ab;
  color: #fff;
}
/* line 27, ../scss/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../scss/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.8125em;
  padding: 1.625em;
}

/* line 8, ../scss/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
}

/* line 16, ../scss/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.40625em;
}
/* line 20, ../scss/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../scss/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../scss/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  margin-bottom: 0.8125em;
  padding: 0.54167em;
  transition: border-color;
  width: 100%;
}
/* line 44, ../scss/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}
/* line 48, ../scss/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #2B00F7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(39, 0, 222, 0.7);
  outline: none;
}

/* line 55, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../scss/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.40625em;
}

/* line 69, ../scss/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.8125em;
  width: 100%;
}

/* line 74, ../scss/base/_forms.scss */
select {
  margin-bottom: 1.625em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../scss/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../scss/base/_lists.scss */
dl {
  margin-bottom: 0.8125em;
}
/* line 23, ../scss/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.8125em;
}
/* line 28, ../scss/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../scss/base/_tables.scss */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.8125em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../scss/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.8125em 0;
  text-align: left;
}

/* line 16, ../scss/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.8125em 0;
}

/* line 21, ../scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../scss/base/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  line-height: 1.625;
}

/* line 10, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  line-height: 1.2;
  margin: 0 0 0.8125em;
  font-weight: normal;
}

/* line 23, ../scss/base/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 1.1em;
}

/* line 33, ../scss/base/_typography.scss */
p {
  margin: 0 0 1.625em;
}

/* line 37, ../scss/base/_typography.scss */
a {
  color: #2B00F7;
  text-decoration: none;
  transition: color 0.1s linear;
}
/* line 42, ../scss/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #1e00ab;
}
/* line 48, ../scss/base/_typography.scss */
a:active, a:focus {
  outline: none;
}

/* line 54, ../scss/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.625em 0;
}

/* line 62, ../scss/base/_typography.scss */
img,
picture {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/* page style */
/* line 13, ../scss/_main.scss */
.lede-content, #main {
  margin: 0 auto;
}

/* line 22, ../scss/_main.scss */
#main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}

/* line 30, ../scss/_main.scss */
.slide {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 10% 10% 10% 55%;
  margin: 0 auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
}
/* line 58, ../scss/_main.scss */
.slide p {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
/* line 63, ../scss/_main.scss */
.slide .location-details {
  font-size: 1em;
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
}
/* line 20, ../scss/bourbon/addons/_clearfix.scss */
.slide ul::after {
  clear: both;
  content: "";
  display: table;
}
/* line 72, ../scss/_main.scss */
.slide .outline-text {
  color: transparent;
  background-color: #3c3c3c;
  -webkit-text-fill-color: #fff;
  -moz-text-fill-color: #fff;
  -ms-text-fill-color: #fff;
  -o-text-fill-color: #fff;
  -webkit-text-stroke: 0.125em transparent;
  -moz-text-stroke: 0.125em transparent;
  -ms-text-stroke: 0.125em transparent;
  -o-text-stroke: 0.125em transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  padding-left: 0.09em;
  letter-spacing: 0.12em;
}

/* line 87, ../scss/_main.scss */
#slide1 {
  background: #fefefe;
  padding: 12% 5% 5%;
}
/* line 91, ../scss/_main.scss */
#slide1 header {
  text-align: center;
}

/* line 95, ../scss/_main.scss */
#slide2 {
  background-image: url("../img/octopus.jpg");
  background-color: #d2d2cb;
  background-position: center left;
}

/* line 101, ../scss/_main.scss */
#slide3 {
  background-color: #f9f9ee;
  background-image: url("../img/clam.jpg");
  background-position: center left;
}

/* line 106, ../scss/_main.scss */
#slide4 {
  background-image: url("../img/pizza.jpg");
  background-position: center center;
  background-size: cover;
  padding: 5%;
}
/* line 112, ../scss/_main.scss */
#slide4 h3 {
  font-family: "NHaasGroteskDSPro-65Md", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding: 5% 0% 5% 7%;
  border: 4px solid #fff;
}
/* line 122, ../scss/_main.scss */
#slide4 .slide-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  color: #fff;
  box-sizing: border-box;
  height: 100%;
  display: table;
}

/* line 132, ../scss/_main.scss */
#slide5 {
  background-color: #e1e1dd;
  background-image: url("../img/cocktail.jpg");
  background-position: center left;
}

/* line 137, ../scss/_main.scss */
#slide6 {
  background-color: #d2d2cb;
  background-image: url("../img/canele.jpg");
  background-position: center left;
}

/* line 142, ../scss/_main.scss */
#slide7 {
  background-color: #f9f9ee;
  background-image: url("../img/tuna_chips.jpg");
  background-position: center left;
}

/* line 148, ../scss/_main.scss */
#slide8 {
  background-color: #fff;
  background: url("../img/footer.jpg") no-repeat center bottom;
  background-size: contain;
}
/* line 153, ../scss/_main.scss */
#main #slide8 {
  padding: 5% 5% 10%;
}
/* line 157, ../scss/_main.scss */
#slide8 h2 {
  font-family: "NHaasGroteskDSPro-65Md", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding: 2% 3%;
  border: 2px solid #3c3c3c;
  margin-bottom: 2em;
}
/* line 164, ../scss/_main.scss */
#slide8 p {
  font-size: 0.9em;
}
/* line 169, ../scss/_main.scss */
#slide8 li {
  float: left;
  width: 17%;
  padding-left: 3%;
}
/* line 174, ../scss/_main.scss */
#slide8 li:first-child {
  padding-left: 0;
}

/* line 181, ../scss/_main.scss */
.pullout-box {
  font-size: 1.25em;
  width: 40%;
  padding-right: 2em;
}

/* line 191, ../scss/_main.scss */
.wrap-subcontent, .pullout-box {
  display: table-cell;
  vertical-align: bottom;
}

/* line 196, ../scss/_main.scss */
.scroller {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* line 204, ../scss/_main.scss */
.lede-content {
  position: relative;
}

/* line 208, ../scss/_main.scss */
.lede-image {
  overflow: hidden;
  height: 400px;
}

/* line 213, ../scss/_main.scss */
.hed {
  color: #3c3c3c;
}

/* line 217, ../scss/_main.scss */
.dek {
  color: #3c3c3c;
  font-size: 2em;
}

/* line 222, ../scss/_main.scss */
.subhed {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

/* line 227, ../scss/_main.scss */
.byline {
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  margin-bottom: 0em;
  padding-right: 0.5em;
}

/* line 233, ../scss/_main.scss */
.dateline {
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  padding-left: 0.5em;
  border-left: 1px solid #3c3c3c;
}

/* line 240, ../scss/_main.scss */
.short-line {
  width: 70px;
  border-bottom: 2px solid #3c3c3c;
  margin: 0 auto 2em;
  font-size: 1.5em;
}

/* line 248, ../scss/_main.scss */
.seal, .octopus, .crab {
  width: 40%;
  text-align: right;
  display: inline-block;
  margin-bottom: -2em;
  margin-left: 17em;
}

/* line 256, ../scss/_main.scss */
.octopus {
  width: 16%;
}

/*-- MEDIA QUERIES -- */
/* MOBILE */
@media screen and (max-width: 29.9999em) {
  /* line 4, ../scss/mediaqueries/_mobile.scss */
  #main .slide {
    padding: 5%;
  }
  /* line 8, ../scss/mediaqueries/_mobile.scss */
  #main #slide1 {
    padding-top: 28%;
  }
  /* line 14, ../scss/mediaqueries/_mobile.scss */
  #main #slide8 li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1em;
  }
  /* line 20, ../scss/mediaqueries/_mobile.scss */
  #main #slide8 p {
    font-size: 0.889em;
  }
  /* line 24, ../scss/mediaqueries/_mobile.scss */
  #main #slide8 .location-details {
    font-size: 0.8em;
  }
  /* line 29, ../scss/mediaqueries/_mobile.scss */
  #main .slide-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: auto;
    padding: 5%;
  }
  /* line 37, ../scss/mediaqueries/_mobile.scss */
  #main .hed {
    font-size: 2em;
  }
  /* line 41, ../scss/mediaqueries/_mobile.scss */
  #main .dek {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  /* line 47, ../scss/mediaqueries/_mobile.scss */
  #main h2 {
    font-size: 1.333em;
  }
  /* line 51, ../scss/mediaqueries/_mobile.scss */
  #main p {
    font-size: 1em;
  }
  /* line 55, ../scss/mediaqueries/_mobile.scss */
  #main .byline, #main .dateline, #main .pullout-box, #main #slide8 h2 {
    font-size: 0.889em;
    line-height: 1.4;
  }
  /* line 60, ../scss/mediaqueries/_mobile.scss */
  #main .byline, #main .dateline {
    display: block;
  }
  /* line 64, ../scss/mediaqueries/_mobile.scss */
  #main .byline {
    padding-right: 0;
  }
  /* line 67, ../scss/mediaqueries/_mobile.scss */
  #main .dateline {
    border-left: none;
    padding-left: 0;
  }
}
/* TABLET */
@media screen and (max-width: 1024px) {
  /* line 3, ../scss/mediaqueries/_tablet.scss */
  .hed {
    font-size: 3.25em;
    margin-bottom: 0.5em;
  }

  /* line 8, ../scss/mediaqueries/_tablet.scss */
  .dek {
    font-size: 1.25em;
  }

  /* line 12, ../scss/mediaqueries/_tablet.scss */
  .short-line {
    margin-bottom: 0.75em;
  }

  /* line 16, ../scss/mediaqueries/_tablet.scss */
  .lede-content {
    width: 80%;
  }

  /* line 20, ../scss/mediaqueries/_tablet.scss */
  .slide {
    padding: 10% 5% 5% 54%;
  }

  /* line 25, ../scss/mediaqueries/_tablet.scss */
  #slide1 {
    padding-top: 24%;
    padding-left: 5%;
  }

  /* line 30, ../scss/mediaqueries/_tablet.scss */
  #slide4 {
    padding: 5%;
  }
  /* line 33, ../scss/mediaqueries/_tablet.scss */
  #slide4 .slide-content {
    padding: 5% 4%;
  }

  /* line 38, ../scss/mediaqueries/_tablet.scss */
  #slide8 li {
    width: 30%;
    padding-left: 5%;
  }
  /* line 42, ../scss/mediaqueries/_tablet.scss */
  #slide8 li:nth-of-type(3n) {
    clear: right;
    margin-bottom: 2em;
  }
  /* line 47, ../scss/mediaqueries/_tablet.scss */
  #slide8 li:nth-of-type(3n + 1) {
    padding-left: 0;
  }

  /* line 52, ../scss/mediaqueries/_tablet.scss */
  .pullout-box {
    margin-bottom: 1.75em;
    font-size: 1.1em;
  }
}
/* DESKTOP */
/* RETINA */
/* Print Styles
 ========================================================================== */
@media print {
  /* line 5, ../scss/mediaqueries/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../scss/mediaqueries/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../scss/mediaqueries/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../scss/mediaqueries/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*Don't show links for img, or javascript/internal links*/
  /* line 26, ../scss/mediaqueries/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../scss/mediaqueries/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 33, ../scss/mediaqueries/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 35, ../scss/mediaqueries/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 38, ../scss/mediaqueries/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 42, ../scss/mediaqueries/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 46, ../scss/mediaqueries/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
